@font-face {
  font-family: "SeasonMix";
  src: url("SeasonMix-Medium.woff2") format("woff2");
  font-weight: 580;
  font-style: medium;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SeasonMix", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#ad-container {
  width: 300px;
  height: 600px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: #efeee9;
}

/* Frame 1 Layout */
.frame-1,
.frame-2,
.frame-3 {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 16px;
}

.frame-1 {
  flex-direction: column;
}

.frame-1 .image-container {
  overflow: hidden;
  flex: 0 0 314px;
}
.frame-1 .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frame-1 .content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  padding: 22px 9px 15px;
  width: 100%;
}

.headline {
  font-family: "SeasonMix", Arial, sans-serif;
  letter-spacing: 0.6px;
  font-size: 26px;
  line-height: 32px;
  vertical-align: middle;
  color: #002540;
}

.headline .line {
  display: block;
  overflow: hidden;
}

.headline span {
  display: inline-block;
}

.small-lockup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.small-lockup img {
  width: 93px;
  height: auto;
}

.tagline {
  font-family: "SeasonMix", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1.5%;
  vertical-align: middle;
  font-size: 16px;
  color: #002540;
  line-height: 1;
  margin-top: 5px;
}

.tagline .word {
  display: inline-block;
}

.mask {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.mask span {
  display: inline-block;
}

/* Frame 2 & 3 Wrap */
.blue-persistent-block {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  background-color: #002540;
  opacity: 0;
  z-index: 20;
  overflow: hidden;
}

.blue-persistent-block .frame-2,
.blue-persistent-block .frame-3 {
  padding: 0;
  opacity: 0;
  z-index: 1;
}

/* Frame 2 (Capabilities) */
.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.capabilities-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "SeasonMix", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  gap: 43px;
}

.cap-word {
  display: block;
}

/* Frame 3 (End Card) */
.frame-3 {
  z-index: 2;
}

.center-lockup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.center-lockup .logo {
  width: 138px;
  height: auto;
}

.center-lockup .tagline {
  color: #fff;
  font-size: 24px;
  margin-top: 6px;
}
